{% extends "encyclopedia/layout.html" %}

{%block title%}edit{%endblock title%}

{%block body%}
    <h1>edit</h1>
    <form action="{% url 'wki:edit' entry %}">
        <textarea id="edit" name="edit" style="display: block; height: 70%;"></textarea>
        <label for="edit">Edit {{ entry }}</label>

        
        <button type="submit" value="submit">submit</button>
    </form>


{%endblock body%}


% extends 'encyclopedia/layout.html' %}
{% comment %} 
{% block title %}
Edit Page
{% endblock %}

{% block body %}
<form action="{% url 'encyclopedia:edit' %}" method="POST">
{% csrf_token %}

<label for="edit">Edit {{ entry }}</label>
<textarea id="edit" name="edit" style="display: block; height: 70%;"></textarea>
<button type="submit">Edit</button>
{% endblock %} {% endcomment %}